p#pogrubienie_markowski
{
  font-size:34px;
  font-weight:900;
  color:#815ECD;
}
p#pochylone_markowski
{
  font-style: italic;
  font-size:39pt;
  color:#E5C269;
}
p#index_gorny_markowski
{
  vertical-align:super;
  font-size:1cm;
  color:#959019;
}
p#index_dolny_markowski
{
  vertical-align:sub;
  font-size:1.5cm;
  color:#31F4E1;
}
p#mono_markowski
{
  vertical-align:sub;
  font-size:44px;
  color:#15E069;
}
p#powiekszenie_markowski
{
  font-size:39;
  color:#4F409B;
}
p#pomniejszenie_markowski
{
  font-size:39;
  color:#B3A437;
}
/*  Markowski Zad23_css  */ 
