p 
{
    color: red;
    font-size: 22pt;
}
#gruby_markowski
{
    color: green;
    font-size: 17pt;
    font-weight: Extra Bold;
}
#dlawszyskich_markowski
{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
